#pumpkin {
    width: 290px;
    #pumpkin-top {
        width: 20px;
        height: 35px;
        margin: 0 auto;
        margin-bottom: -5px;
        border-radius: 4px 4px 0 0;
        transform: rotate(10deg);
        background-color: #027d3e;
    }
    #pumpkin-main {
        width: 100%;
        height: 150px;
        #pumpkin-base {
            display: flex;
            flex-direction: row;
            justify-content: center;
            #pumpkin-main-center {
                height: 150px;
                background-color: #f28d01;
                width: calc(290px / 3 - 5px);
                height: 150px;
                border-radius: 25px / 40%;
                position: relative;
                z-index: 150;
            }
            #pumpkin-main-right {
                height: 150px;
                margin-left: -18px;
                position: relative;
                z-index: 100;
                background-color: #ec6c01;
                width: calc(290px / 3 - 5px);
                border-radius: 10% 70% 50% 20% / 60% 20% 60% 40%;
            }
            #pumpkin-main-left {
                height: 150px;
                background-color: #ec6c01;
                width: calc(290px / 3 - 5px);
                border-radius: 70% 10% 20% 50% / 20% 60% 40% 60%;
                margin-right: -18px;
                position: relative;
                z-index: 100;
            }
        }
        #pumpkin-face{
            margin-top: -113px;
            #eye{
                width: 100px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                z-index: 200;
                margin: 0 auto;
                &:before{
                    content: '';
                    display: block;
                    background-color: black;
                    width: 30px;
                    height: 25px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    transform: rotate(5deg);
                }
                &:after{
                    content: '';
                    display: block;
                    background-color: black;
                    width: 30px;
                    height: 25px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    transform: rotate(-5deg);
                }
            }
            #nose{
                background-color: black;
                width: 17px;
                height: 15px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                margin: 0 auto;
                margin-top: 3px;
                position: relative;
                z-index: 200;
            }
            #mouth{
                width: 150px;
                height: 70px;
                border-bottom: solid 20px black;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: -48px;
                position: relative;
                z-index: 190;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 27px;
                &:before{
                    content: '';
                    display: flex;
                    width: 15px;
                    height: 15px;
                    background-color: #f28d01;
                    position: relative;
                    z-index: 200;
                    margin-top: 60px;
                }
                &:after{
                    content: '';
                    display: flex;
                    width: 15px;
                    height: 15px;
                    background-color: #f28d01;
                    position: relative;
                    z-index: 200;
                    margin-top: 60px;
                }
            }
        }
    }
}